!.gitignore
*.gz
*.zip
*.md5
*.sha1
jruby-complete.jar
bin/*
!bin/gem
!bin/update_rubygems
build
build.eclipse
build.properties
target
dist
lib/jruby*.jar
lib/native
lib/ruby/gems/1.8/source_cache
lib/ruby/gems/1.8/doc
lib/ruby/gems/1.8/gems
lib/ruby/gems/1.8/specifications
lib/ruby/gems/1.8/cache
lib/ruby/gems/1.9/source_cache
lib/ruby/gems/1.9/doc
lib/ruby/gems/1.9/gems
lib/ruby/gems/1.9/specifications
lib/ruby/gems/1.9/cache
lib/ruby/site_ruby/1.8/rubygems/defaults/jruby_native.rb
nbproject/private
share
latest_source_cache
src_gen
docs/api
spec/ruby
test/rails
test/prawn
gem/lib/*.jar
gem/lib/jruby-jars/version.rb
gem/pkg
*.orig
*.rej
*~
tool/nailgun/Makefile
tool/nailgun/ng
tool/nailgun/config.log
tool/nailgun/config.status
jruby-findbugs.html
.debug.properties
test/testapp/testapp
glob_test
spaces test
.DS_Store
lib/ruby/cext/
*.so
*.bundle
*.[oa]

