!.gitignore
*.gz
*.zip
*.md5
*.sha1
*.releaseBackup
release.properties
jruby-complete.jar
bin/*
!bin/gem
!bin/update_rubygems
build
build.eclipse
build.properties
target
dist
lib/jruby*.jar
lib/native
lib/jni
lib/ruby/gems
lib/ruby/shared/rubygems/defaults/jruby_native.rb
nbproject/private
share
latest_source_cache
docs/api
test/rails
test/prawn
gems/*/Manifest.txt
gems/*/lib/*.jar
gems/*/lib/jruby-jars/version.rb
gems/*/pkg
*.orig
*.rej
*~
tool/nailgun/Makefile
tool/nailgun/ng
tool/nailgun/config.log
tool/nailgun/config.status
jruby-findbugs.html
.debug.properties
test/testapp/testapp
glob_test
spaces test
.DS_Store
lib/ruby/cext/
*.so
*.bundle
*.[oa]
*.versionsBackup
dev_null
.redcar
/.externalToolBuilders/
.metadata
.idea/workspace.xml
shared.iml
build_graph.png
/.idea/
/.rbx/
*.sw[mnop]
lib/ruby/shared/bcpkix-jdk15on-*.jar
lib/ruby/shared/bcprov-jdk15on-*.jar
lib/ruby/shared/*jopenssl*.jar
lib/ruby/shared/readline/*readline*.jar
lib/ruby/shared/readline/jline*.jar
lib/ruby/shared/ripper.jar
core/src/main/java/org/jruby/runtime/Constants.java
dependency-reduced-pom.xml

# These files are bin files for default gems
!lib/ruby/gems/shared/gems/rake-10.1.0/bin/rake
!lib/ruby/gems/shared/gems/rdoc-4.0.1/bin/rdoc
!lib/ruby/gems/shared/gems/rdoc-4.0.1/bin/ri
install/updates.xml

# IntelliJ project files
.idea
*.iml
