.rbx
*.rba
*.rbc
*.swp
.DS_Store
*~
\#*\#
.\#*\#
/default.mspec
/nbproject/private
*.orig
*.rej
optional/ffi/fixtures/build
jruby.1.8.mspec
jruby.1.9.mspec
rubyspec_temp
Gemfile.lock

*.bundle
*.dylib
*.so
*.dll
