language: java

sudo: false

cache:
  directories:
  - $HOME/.m2

before_script:
- unset GEM_PATH GEM_HOME IRBRC JRUBY_OPTS

jdk: oraclejdk8

matrix:
  include:
  - env: JT='test specs :command_line'
  - env: JT='test specs :language'
  - env: JT='test specs :core'
  - env: JT='test specs :library'
  - env: JT='test specs :truffle'
  - env: JT='test integration'
  - env: JT='test gems' COMMAND=test/truffle/gems/install-gems.sh
  - env: JT='test ecosystem' JAVA_OPTS="$JAVA_OPTS -Xmx512m" HAS_REDIS=true COMMAND=test/truffle/ecosystem-travis-install.sh
  - env: JT='test tck'
  - env: JT='check_ambiguous_arguments' SKIP_BUILD=true V=1
  - env: JT='test mri'
  allow_failures:
  - env: JT='test mri'
  # Exlude the default job https://github.com/travis-ci/travis-ci/issues/4681
  exclude:
  - jdk: oraclejdk8

install:
- if [ -z "$SKIP_BUILD" ]; then V=1 tool/jt.rb build; fi
script:
- $COMMAND
- tool/jt.rb $JT

notifications:
  irc:
    channels:
    - "irc.freenode.org#jruby"
    on_success: change
    on_failure: always
    template:
    - "%{repository} (%{branch}:%{commit} by %{author}): %{message} (%{build_url})"
    skip_join: true

services:
- redis-server
