language: java

dist: trusty

# don't need more than a few levels for our builds
git:
  depth: 10
  quiet: true

cache:
  directories:
    - $HOME/.m2

before_install:
  - unset _JAVA_OPTIONS
  - rm ~/.m2/settings.xml
  - export MAVEN_SKIP_RC=true
  - export MAVEN_OPTS="-Xmn64M -Xmx512M -XX:CompressedClassSpaceSize=96M"
  - export JAVA_OPTS="$JAVA_OPTS -XX:CompressedClassSpaceSize=96M"

before_script:
  - unset GEM_PATH GEM_HOME IRBRC JRUBY_OPTS
  - unset _JAVA_OPTIONS # travis/travis#8408
  - export PATH="`pwd`/bin:$PATH"
  - echo $HOME
  - echo $JAVA_OPTS
  - echo $MAVEN_OPTS

jdk:
  - openjdk8

os:
  - linux

env:
  global:
    - JAVA_OPTS="-XX:+TieredCompilation -XX:TieredStopAtLevel=1 -Xms60M -Xmx720M -XX:InitialCodeCacheSize=40M -XX:ReservedCodeCacheSize=120M -Djava.security.egd=file:/dev/./urandom"
    - MALLOC_ARENA_MAX=2

install: true

matrix:
  fast_finish: true

  include:
    - stage: test
      name: MRI core int
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake test:mri:core:int
      env: JRUBY_OPTS='$JRUBY_OPTS -J-Xmx1G'

    - name: MRI core fullint
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake test:mri:core:fullint
      env: JRUBY_OPTS='$JRUBY_OPTS -J-Xmx1G'

    - name: MRI core jit
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake test:mri:core:jit

    - name: MRI extra
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake test:mri:extra
      env: JRUBY_OPTS='$JRUBY_OPTS -J-Xmx1G'

    - name: MRI stdlib
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake test:mri:stdlib
      env: JRUBY_OPTS='$JRUBY_OPTS -J-Xmx1G'

    - name: spec/ruby fast
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake spec:ruby:fast

    - name: spec/ruby slow
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake spec:ruby:slow

    - env: COMMAND=test/check_versions.sh

    - env: PHASE='-Ptest'

    - env: PHASE='-Pjruby_complete_jar_extended -Dinvoker.skip=true'

    - name: sequel
      script: tool/sequel-travis.sh
      addons:
        postgresql: "9.6"
      services:
        - postgresql

    - name: concurrent ruby
      script: tool/concurrent-ruby-travis.sh

    - name: JRuby tests jit
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake test:jruby

    - name: JRuby tests jit indy
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake test:jruby
      env: JRUBY_OPTS=-Xcompile.invokedynamic

    - name: JRuby tests aot
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake test:jruby:aot

    - name: JRuby tests fullint
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake test:jruby:fullint

    - name: JRuby slow tests
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake test:slow_suites

    - name: JI specs
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake spec:ji

    - name: Compiler specs
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake spec:compiler

    - name: Compiler specs indy
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake spec:compiler
      env: JRUBY_OPTS=-Xcompile.invokedynamic

    - name: FFI specs
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake spec:ffi

    - name: Regression specs
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake spec:regression

    - name: Regression specs jit
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake spec:regression
      env: JRUBY_OPTS=-Xjit.threshold=0

    - name: JRuby specs
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake spec:jruby

    - name: jrubyc specs
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake spec:jrubyc

    - name: Profilers specs
      script:
        - mvn clean package -Pbootstrap
        - jruby -S rake spec:profiler

    - env: PHASE='-Pdist'

    - env: PHASE='-Pjruby-jars'

    - env: PHASE='-Pmain'

    - env: PHASE='-Pcomplete'

    - env: PHASE='-Posgi'

    - env: PHASE='-Pj2ee'

    - env: PHASE='-Pjruby-jars,test -Dinvoker.test=extended'

    - env: PHASE='-Pmain,test -Dinvoker.test=extended'

    - env: PHASE='-Pmain'
      jdk: openjdk11

    - env: PHASE='-Pcomplete'
      jdk: openjdk11

    - name: -Pmain openj9 jdk8
      env: PHASE='-Ptest'
      script:
        - wget https://github.com/sormuras/bach/raw/master/install-jdk.sh
        - source install-jdk.sh --url https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u202-b08_openj9-0.12.1/OpenJDK8U-jdk_x64_linux_openj9_8u202b08_openj9-0.12.1.tar.gz
        - tool/travis-script.sh

    - stage: deploy
      name: deploy snapshots
      script:
        - cp .travis-maven-settings.xml $HOME/.m2/settings.xml
        - ./mvnw clean deploy -Prelease
      if: env(SONATYPE_USERNAME) IS present AND type = push AND branch IN (master, jruby-9.1) # only master and maintenance pushes

  allow_failures:
    - env: PHASE='-Pjruby_complete_jar_extended -Dinvoker.skip=true'

script: tool/travis-script.sh

notifications:
  irc:
    on_success: change
    on_failure: always
    only:
      branch:
        - master
        - jruby-9.1
    template:
      - "%{repository_slug} (%{branch}:%{commit} by %{author}): %{message} %{build_url} [%{duration}]"
    channels:
      # - "irc.freenode.org#jruby"
      # note: `travis encrypt -r "jruby/jruby" "irc.freenode.org#jruby"`
      secure: "2DmwSfKvhnrdcC6LTXHHJ4QlSRXDlVUa9jEjXcdgIIZZm4ghbg/mmLjD6bv/ueCC8idQrYyuXRLeKIdaIss64q/lbbaj5VVV1p91fkZ3H+AhgHRPviboEm2bweSmjSWr7luXg4qifoL7YcXEtXw0YKGmub8WSZj4uPZbm5ce2l8="

services:
  - redis-server
  - haveged

addons:
  apt:
    packages:
      - haveged
