language: java

sudo: false

dist: trusty

# don't need more than one level for our builds
git:
  depth: 10

cache:
 directories:
   - $HOME/.m2

before_install:
  - unset _JAVA_OPTIONS
  - rm ~/.m2/settings.xml
  - export MAVEN_SKIP_RC=true
  - export MAVEN_OPTS="-Xmn64M -Xmx512M -XX:CompressedClassSpaceSize=96M"
  - export JAVA_OPTS="$JAVA_OPTS -XX:CompressedClassSpaceSize=96M"

before_script:
  - unset GEM_PATH GEM_HOME IRBRC JRUBY_OPTS
  - unset _JAVA_OPTIONS # travis/travis#8408
  - export PATH="`pwd`/bin:$PATH"
  - echo $HOME
  - echo $JAVA_OPTS
  - echo $MAVEN_OPTS

jdk:
  - openjdk8

os:
  - linux

env:
  global:
    - JAVA_OPTS="-XX:+TieredCompilation -XX:TieredStopAtLevel=1 -Xms48M -Xmx640M -XX:InitialCodeCacheSize=40M -XX:ReservedCodeCacheSize=120M -Djava.security.egd=file:/dev/./urandom"
    - MALLOC_ARENA_MAX=2

install: true

jobs:
  fast_finish: true

  include:
    - stage: test
      env: PHASE='-Prake -Dtask=test:mri:core:int'
    - env: PHASE='-Prake -Dtask=test:mri:core:fullint'
    - env: PHASE='-Prake -Dtask=test:mri:core:jit'
    - env: PHASE='-Prake -Dtask=test:mri:extra'
    - env: PHASE='-Prake -Dtask=test:mri:stdlib'
    - env: PHASE='-Prake -Dtask=spec:ruby:fast'
    - env: COMMAND=test/check_versions.sh
    - env: PHASE='-Ptest'
    - env: PHASE='-Pjruby_complete_jar_extended -Dinvoker.skip=true'
    - name: sequel
      script: tool/sequel-travis.sh
      addons:
        postgresql: "9.6"
      services:
        - postgresql
    - env: PHASE='-Prake -Dtask=test:jruby'
    - env:
      - PHASE='-Prake -Dtask=test:jruby'
        JRUBY_OPTS=-Xcompile.invokedynamic
    - env: PHASE='-Prake -Dtask=test:jruby:aot'
    - env: PHASE='-Prake -Dtask=test:jruby:fullint'
    - env: PHASE='-Prake -Dtask=test:slow_suites'
    - env: PHASE='-Prake -Dtask=spec:ji'
    - env: PHASE='-Prake -Dtask=spec:compiler'
    - env:
      - PHASE='-Prake -Dtask=spec:compiler'
        JRUBY_OPTS=-Xcompile.invokedynamic
    - env: PHASE='-Prake -Dtask=spec:ffi'
    - env: PHASE='-Prake -Dtask=spec:regression'
    - env:
      - PHASE='-Prake -Dtask=spec:regression'
      - JRUBY_OPTS=-Xjit.threshold=0
    - env: PHASE='-Prake -Dtask=spec:jruby'
    - env: PHASE='-Prake -Dtask=spec:jrubyc'
    - env: PHASE='-Prake -Dtask=spec:profiler'
    - env: PHASE='-Pdist'
    - env: PHASE='-Pjruby-jars'
    - env: PHASE='-Pmain'
    - env: PHASE='-Pcomplete'
    - env: PHASE='-Posgi'
    - env: PHASE='-Pj2ee'
    - env: PHASE='-Pjruby-jars,test -Dinvoker.test=extended'
    - env: PHASE='-Pmain,test -Dinvoker.test=extended'
    - env: PHASE='-Pmain'
      jdk: oraclejdk9
    - env: PHASE='-Pcomplete'
      jdk: oraclejdk9

script: tool/travis-script.sh

notifications:
  irc:
    channels:
      - "irc.freenode.org#jruby"
    on_success: change
    on_failure: always
    only:
      branch:
      - master
      - jruby-9.1
    template:
      - "%{repository} (%{branch}:%{commit} by %{author}): %{message} (%{build_url})"

services:
  - redis-server
  - haveged

addons:
  apt:
    packages:
      - haveged
