language: java

sudo: false

cache:
 directories:
   - $HOME/.m2

before_install:
  - export MAVEN_SKIP_RC=true
  - mvn -Xmx32M -v | grep 1.7.0; if [ $? = 0 ]; then export MAVEN_OPTS="-XX:MaxPermSize=240M"; else export MAVEN_OPTS="-XX:MaxMetaspaceSize=240M -XX:CompressedClassSpaceSize=240M"; fi
  - export MAVEN_OPTS="-Xmx512M $MAVEN_OPTS"

before_script:
  - unset GEM_PATH GEM_HOME IRBRC JRUBY_OPTS
  - export PATH="`pwd`/bin:$PATH"
  - echo $HOME

jdk:
  - openjdk7
#  - oraclejdk8

os:
  - linux

env:
  global:
    - JAVA_OPTS="-XX:+TieredCompilation -XX:TieredStopAtLevel=1 -Xmn48M -Xmx512M"
    - MALLOC_ARENA_MAX=2
  matrix:
    - PHASE='-Ptest'
    - PHASE='-Prake -Dtask=test:jruby'
    - PHASE='-Prake -Dtask=test:jruby:fullint'
    - PHASE='-Prake -Dtask=test:jruby:jit'
    - PHASE='-Prake -Dtask=test:mri'
    - PHASE='-Prake -Dtask=test:mri:fullint'
    - PHASE='-Prake -Dtask=test:mri:jit'
    - PHASE='-Prake -Dtask=test:slow_suites'
    - PHASE='-Prake -Dtask=test:tracing'
    - PHASE='-Prake -Dtask=spec:ji'
    - PHASE='-Prake -Dtask=spec:compiler'
    - PHASE='-Prake -Dtask=spec:compiler' JRUBY_OPTS=-Xcompile.invokedynamic
    - PHASE='-Prake -Dtask=spec:ffi'
    - PHASE='-Prake -Dtask=spec:regression'
    - PHASE='-Prake -Dtask=spec:ruby:fast'
    - PHASE='-Prake -Dtask=spec:jruby'
    - PHASE='-Prake -Dtask=spec:jrubyc'
    - PHASE='-Prake -Dtask=spec:profiler'

matrix:
  include:
    # these profile do no need to run for all JDKs
    - env: PHASE='-Pdist'
      jdk: oraclejdk8
    - env: PHASE='-Pjruby-jars'
      jdk: openjdk7
    - env: PHASE='-Pmain'
      jdk: oraclejdk8
    - env: PHASE='-Pcomplete'
      jdk: oraclejdk8
    - env: PHASE='-Posgi'
      jdk: openjdk7
    - env: PHASE='-Pj2ee'
      jdk: oraclejdk7
    # These next two started crashing on JDK7 in March 2015, possibly due to JVM issues on Travis's Docker-based env
    - env: PHASE='-Pjruby-jars,test -Dinvoker.test=extended'
      jdk: oraclejdk8
    - env: PHASE='-Pmain,test -Dinvoker.test=extended'
      jdk: oraclejdk8
    - env: PHASE='-Pjruby_complete_jar_extended -Dinvoker.skip=true'
      jdk: oraclejdk8
    - env: COMMAND=test/check_versions.sh
      jdk: oraclejdk8
    # JRuby+Truffle needs Java 8
    - env: JT='test fast'
      jdk: oraclejdk8
  #allow_failures:
    #- env: PHASE='-Pj2ee'
    #  jdk: oraclejdk7
    # NOTE: build seems to never start (waited for any to finish for more than a day) - probably a travis-ci bug
    #- env: PHASE='-Pmain'
    #  sudo: required
    #  dist: trusty
    #  group: edge
    #  jdk: oraclejdk9

install: tool/travis-install.sh
script: tool/travis-script.sh

notifications:
  irc:
    channels:
      - "irc.freenode.org#jruby"
    on_success: change
    on_failure: always
    template:
      - "%{repository} (%{branch}:%{commit} by %{author}): %{message} (%{build_url})"
    skip_join: true

  # update jruby-head installed on Travis CI
  webhooks:
    urls:
      - "https://rubies.travis-ci.org/rebuild/jruby-head"
# we are on a branch
    on_success: always
    on_failure: never

services:
  - redis-server
