language: java
before_script:
  - unset GEM_PATH GEM_HOME IRBRC
  - "export PATH=`pwd`/bin:$PATH"

jdk:
  - oraclejdk7
  - oraclejdk8

env:
  matrix:
    - TARGET='test-extended'
    - TARGET='spec:ci_interpreted_travis'
    - TARGET='spec:ci_interpreted_ir_travis'
    - TARGET='spec:ir'
    - TARGET='test-dist'

matrix:
  fast_finish: true
  allow_failures:
    - env: TARGET='spec:ci_interpreted_ir_travis'
    - env: TARGET='test-dist'
    - jdk: oraclejdk8

branches:
  only:
    - master
    - jruby-1_7

script: "ant $TARGET"
install: /bin/true
notifications:
  irc:
    channels:
      - "irc.freenode.org#jruby"
    on_success: change
    on_failure: always
    template:
      - "%{repository} (%{branch}:%{commit} by %{author}): %{message} (%{build_url})"

  # update jruby-head installed on Travis CI
  webhooks:
    urls:
      - "https://rubies.travis-ci.org/rebuild/jruby-head"
    on_success: always
    on_failure: never
