language: java

sudo: false

#cache:
#  directories:
#    - $HOME/.m2

before_script:
  - export MAVEN_SKIP_RC=true
  - export MAVEN_OPTS="-Xmx512m -XX:MaxPermSize=512m"
  - unset GEM_PATH GEM_HOME IRBRC JRUBY_OPTS
  - "export PATH=`pwd`/bin:$PATH"
  - echo $HOME

jdk:
  - openjdk7
#  - oraclejdk8

os:
  - linux

env:
  global:
    - MALLOC_ARENA_MAX=2
  matrix:
    - PHASE='-Ptruffle-specs-language'
    - PHASE='-Ptruffle-specs-core'
    - PHASE='-Ptruffle-specs-library'
    - PHASE='-Ptruffle-specs-truffle'
    - PHASE='-Ptruffle-mri-tests'

matrix:
  include:
    - env: COMMAND=test/check_versions.sh
      jdk: oraclejdk8
    - env: COMMAND='ruby tool/jt.rb check_ambiguous_arguments'
      jdk: oraclejdk8
    - env: COMMAND=test/truffle/integration-tests.sh
      jdk: oraclejdk8

branches:
  only:
    - master
    - jruby-1_7
    - truffle-head
    - /^test-.*$/
    - /^ha-feature/

script: if [[ -v COMMAND ]]; then $COMMAND; else ./mvnw install -Dinvoker.skip=false $PHASE | egrep -v 'Download|\\[exec\\] [[:digit:]]+/[[:digit:]]+|^[[:space:]]*\\[exec\\][[:space:]]*$' ; [ ${PIPESTATUS[0]} == 0 ]; fi
install: travis_retry ./mvnw -Pbootstrap clean install -Dinvoker.skip -Dmaven.test.skip

notifications:
  irc:
    channels:
      - "irc.freenode.org#jruby"
    on_success: change
    on_failure: always
    template:
      - "%{repository} (%{branch}:%{commit} by %{author}): %{message} (%{build_url})"
    skip_join: true

  # update jruby-head installed on Travis CI
  webhooks:
    urls:
      - "https://rubies.travis-ci.org/rebuild/jruby-head"
# we are on a branch
    on_success: always
    on_failure: never
