language: java

sudo: false

cache:
 directories:
   - $HOME/.m2

before_install:
  - export MAVEN_SKIP_RC=true
  - mvn -Xmx32M -v | grep 1.7.0; if [ $? = 0 ]; then export MAVEN_OPTS="-XX:MaxPermSize=240M"; else export MAVEN_OPTS="-XX:MaxMetaspaceSize=240M -XX:CompressedClassSpaceSize=240M"; fi
  - export MAVEN_OPTS="-Xmx512M $MAVEN_OPTS"

before_script:
  - unset GEM_PATH GEM_HOME IRBRC JRUBY_OPTS
  - export PATH="`pwd`/bin:$PATH"
  - echo $HOME

jdk:
  - openjdk7
#  - oraclejdk8

os:
  - linux

env:
  global:
    - JAVA_OPTS="-XX:+TieredCompilation -XX:TieredStopAtLevel=1 -Xmn48M -Xmx512M"
    - MALLOC_ARENA_MAX=2

matrix:
  include:
    # JRuby+Truffle needs Java 8
    - env: JT='test specs :command_line'
      jdk: oraclejdk8
    - env: JT='test specs :language'
      jdk: oraclejdk8
    - env: JT='test specs :core'
      jdk: oraclejdk8
    - env: JT='test specs :library'
      jdk: oraclejdk8
    - env: JT='test specs :truffle'
      jdk: oraclejdk8
    - env: JT='test integration'
      jdk: oraclejdk8
    - env: JT='test tck'
      jdk: oraclejdk8
    - env: JT=check_ambiguous_arguments SKIP_BUILD=true
      jdk: oraclejdk8
  allow_failures:
    - env: JT='test mri'
      jdk: oraclejdk8
    - env: JT='test gems' JAVA_OPTS="$JAVA_OPTS -Xmx512m" HAS_REDIS=true
    - env: PHASE='-Pj2ee'
      jdk: oraclejdk7
    # NOTE: build seems to never start (waited for any to finish for more than a day) - probably a travis-ci bug
    #- env: PHASE='-Pmain'
    #  sudo: required
    #  dist: trusty
    #  group: edge
    #  jdk: oraclejdk9

branches:
  only:
    - master
    - jruby-1_7
    - truffle-head
    - /^test-.*$/
    - /^ha-feature/
    - ruby-2.4

install: travis_retry tool/travis-install.sh
script: tool/travis-script.sh

notifications:
  irc:
    channels:
      - "irc.freenode.org#jruby"
    on_success: change
    on_failure: always
    template:
      - "%{repository} (%{branch}:%{commit} by %{author}): %{message} (%{build_url})"
    skip_join: true

  # update jruby-head installed on Travis CI
  webhooks:
    urls:
      - "https://rubies.travis-ci.org/rebuild/jruby-head"
# we are on a branch
    on_success: always
    on_failure: never

services:
  - redis-server
