# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

strategy:
  matrix:
    linux:
      imageName: 'Ubuntu-16.04'

trigger:
- master
- test_windows

pool:
  vmImage: $(imageName)

steps:
- script: ./mvnw -B package -Ptest -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
  displayName: -Ptest

