jt: [ruby, tool/jt.rb]

common: {
  packages: {
    git:        ">=1.8.3"
    maven:      ">=3.3.9"
    mercurial:  ">=3.2.4"
    ruby:       ">=2.1.0"
    "java/jdk": "==1.8.0/60"
  }

  environment: {
    CI: "true",
    JAVA_OPTS: -Xmx2G
  }

  setup: [
    [mx, sclone, --kind, git, "https://github.com/jruby/jruby-build-pack.git", jruby-build-pack],
    [cp, bin/jruby.bash, bin/jruby],
    [chmod, +x, bin/jruby],
    ${jt} [build, --build-pack]
  ]

  timelimit: "01:00:00"
}

graal-vm: {
  downloads: {
    GRAALVM_DIR: {
      name: graalvm-release,
      version: "0.18",
      platformspecific: true
    }
  }

  environment: {
    GRAALVM_BIN: "$GRAALVM_DIR/bin/java"
    HOST_VM: server,
    HOST_VM_CONFIG: graal-vm
  }
}

gate-caps: {
  capabilities: [linux, amd64]
  targets: [gate, post-push]
}

gem-test-pack: {
  setup: [
    [mx, sclone, --kind, git, "https://github.com/jruby/jruby-truffle-gem-test-pack.git", ../jruby-truffle-gem-test-pack]
  ]
}

test-gems: {
  environment: {
    GEM_HOME: ../jruby-truffle-gem-test-pack/gems
  }
  
  setup: ${common.setup} ${gem-test-pack.setup}

  run: [
    ${jt} [test, gems]
  ]
}

test-ecosystem: {
  setup: ${common.setup} ${gem-test-pack.setup}

  run: [
    [bin/jruby, bin/gem, install, ../jruby-truffle-gem-test-pack/gems/cache/bundler-1.12.5.gem],
    ${jt} [test, ecosystem]
  ]
}

builds: [
  {name: ruby-test-fast} ${common} ${gate-caps} {run: [${jt} [test, fast]]},
  {name: ruby-test-tck} ${common} ${gate-caps} {run: [${jt} [test, tck]]},
  {name: ruby-test-specs-command-line} ${common} ${gate-caps} {run: [${jt} [test, specs, ":command_line"]]},
  {name: ruby-test-specs-language} ${common} ${gate-caps} {run: [${jt} [test, specs, ":language"]]},
  {name: ruby-test-specs-core} ${common} ${gate-caps} {run: [${jt} [test, specs, -Gci, ":core"]]},
  {name: ruby-test-specs-library} ${common} ${gate-caps} {run: [${jt} [test, specs, ":library"]]},
  {name: ruby-test-specs-truffle} ${common} ${gate-caps} {run: [${jt} [test, specs, ":truffle"]]},
  //{name: ruby-test-integration} ${common} ${gate-caps} {run: [${jt} [test, integration]]},
  //{name: ruby-test-gems} ${common} ${gate-caps} ${test-gems},
  //{name: ruby-test-ecosystem} ${common} ${gate-caps} ${test-ecosystem},
  {name: ruby-test-tarball} ${common} ${gate-caps} {run: [${jt} [tarball]]},

  {name: ruby-test-compiler-graal-vm} ${common} ${graal-vm} ${gate-caps} {run: [${jt} [test, compiler]]},
]
