ruby/stdlib/json*
ruby/stdlib/rdoc*
ruby/stdlib/ripper*
ruby/stdlib/krypt*
ruby/stdlib/*openssl*
ruby/stdlib/rake**
ruby/stdlib/readline*
ruby/stdlib/bouncy-castle-java.rb
ruby/stdlib/*.jar
ruby/gems/shared/specifications/default/*
ruby/gems/shared/gems/*/bin/*
