version.target=1.5
version.source=1.5
# jruby.home=/path/to/a/jruby/install
# jruby.jar=${jruby.home}/lib/jruby.jar
# set this to an alternate location to compile against a different jruby.jar
jruby.jar=lib/jruby.jar

